<mat-card>
    <mat-card-header>
      <button (click)="addGpsPosition()" mat-raised-button color="primary">Nouvelle Position GPS (+)</button>
      <button (click)="compareGpsPosition()" mat-raised-button color="accent">Comparer 2 GPS</button>
    </mat-card-header>

    <mat-card-content>

    

<table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let element">{{element.position}}</td>
      </ng-container>

      <ng-container matColumnDef="latitude">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Latitude</th>
        <td mat-cell *matCellDef="let element">{{element.latitude}}</td>
      </ng-container>

      <ng-container matColumnDef="longitude">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Longitude</th>
        <td mat-cell *matCellDef="let element">{{element.longitude}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">
            <button (click)="deleteGpsPosition(element.id)" mat-raised-button color="warn">Delete</button>
        </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

</table>

</mat-card-content>
<br>
<mat-card-footer>

    <mat-paginator #paginator [pageSizeOptions]="[10,20]" showFirstLastButtons></mat-paginator>

</mat-card-footer>
</mat-card>