
mat-card{
    margin: 2%;
    text-align: left;
}

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}

.mat-mdc-dialog-actions {
    justify-content: end;
    margin-right: 30px;
}

.mat-50{
    width: 48%;
    margin: 1%;
}

button{
    margin: 2px;
}