/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-mat-snackbar-success {
    background-color: #49b170 !important;
    color: white !important;
    white-space: pre-wrap;
}

.custom-mat-snackbar-warning {
    background-color: #e67700 !important;
    color: white !important;
    white-space: pre-wrap;
}

.custom-mat-snackbar-error {
    background-color: #e6007e !important;
    color: white !important;
    white-space: pre-wrap;
}
