<form [formGroup]="myform" (ngSubmit)="compareGpsPosition()">
  <h1 mat-dialog-title>{{ inputdata.title }}</h1>
  <div mat-dialog-content>

    <mat-form-field>
      <mat-label>Position 1</mat-label>
      <select matNativeControl [(ngModel)]="selectedOption1" (change)="onSelectChange()" name="position1" formControlName="position1"> 
        <option value="" selected></option>
        <option *ngFor="let option of options" [value]="option.id">
          {{ option.position }}
        </option>
      </select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Position 2</mat-label>
      <select matNativeControl [(ngModel)]="selectedOption2" (change)="onSelectChange()" name="position2" formControlName="position2">
        <option value="" selected></option>
        <option *ngFor="let option of options" [value]="option.id">
          {{ option.position }}
        </option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Resultat</mat-label>
      <input [disabled]="true" matInput [value]="result" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
  </div>
</form>
